{% extends base.html %}

{% block title %} Profiles {% endblock %} 

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='profiles.css')}}" type="text/css" />
{% endblock %}

{% block main %}
<h1>Profiles</h1>
{% if not profiles %}
<p>There are currently no available profiles</p>

{% else %}
    {% for _id, photo, firstname, lastname, gender, location in profiles %}
        <div class="profile-listing">
            
            <img src="{{ url_for('static', filename=photo) }}" class="pic"></img>
            <ul>
                <li>
                    <span class="username">{{firstname}} {{lastname}}</span>
                </li>
                <li>
                    <i class="material-icons">person_outline</i>{{gender}}
                </li>
                <li>
                    <i class="material-icons">location_on</i>{{location}}
                </li>
            </ul>
            <a href="{{ url_for('profiles', userid=_id) }}"><button class="btn btn-success btntxt">View Profile</button></a>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}